<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<sciBiteLicense>
  <licenseAttributes>
    <expiryDate>01/01/2097</expiryDate>
    <product>Centree</product>
    <macAddress>rqgeq.uhqeghu;erg</macAddress>
    <helpDeskTicketNumber>1234</helpDeskTicketNumber>
    <company>SciBite</company>
    <userName>jon</userName>
    <email>jon.vallet@scibite.com</email>
  </licenseAttributes>
  <licenseKey>LICENSE_KEY</licenseKey>
</sciBiteLicense>
